{% extends 'myapp1/base.html' %}

{% block title %} 
{{ name_clients}}
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.1/vue.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js"></script>

{% endblock %}

{% block search %}
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"  data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-60 rounded-2 border-0" type="text" placeholder="Пошук " aria-label="Search" id="Search_now" >
  <div class="navbar-nav">
    <div class="nav-item text-nowrap" id="SearchButton" v-on:click="search_button()">
      <a class="nav-link px-3" href="#">Пошук</a>
    </div>
  </div> -->
{% endblock%}

{% block document %} 
{% verbatim %}
           
      <div class="col-md-1.7">
        <select class="form-select" id="type_case_select" v-model="selected">
          <option v-for="item in case_types" :value="item.id" :key="item.id">
            {{ item.NameTypeCase }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <select class="form-select" id="status_case_select"  v-model="select">
          <option v-for="it in case_status" :value="it.id" :key="it.id">
            {{ it.NameStatusCase }}
          </option>
        </select>
      </div>
     
      <div class="col-md-2">
        <input type="text" class="form-control" id="date" placeholder="Дата подачі справи" required="">
      </div>
      
      <div class="col-md-2">
        <input type="text" class="form-control" id="date_contract" placeholder="Дата договору" required="">
      </div> 

      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-outline-success" id="filter_button" v-on:click="filter()"> Фільтрувати </button>
      </div>

    {% endverbatim %}
          {% endblock %}

{% block baza %}           
     {% verbatim %}

 <h6>
<div class="table-responsive" id="contact_new">
 
  <table class="table table-striped" >
    
      <tr>
        <th scope="col">ПІБ Клієнта</th>
        <th scope="col">Номер договору</th>
        <th scope="col">Дата складання договору</th>
        <th scope="col">Тип справи</th>
        <th scope="col">Дата подачі справи</th>
        <th scope="col">Статус справи</th>
        <th scope="col">Документи по справі</th>
      </tr>
     </h5>   
      <h6>
        <tbody>
          <tr v-for="el in Client"  :value="el.id">
            <td>{{ el.name_client }}</td>
            <td>{{ el.contract_number }}</td>
            <td>{{ el.date }}</td>
            <td>{{ el.type_case }}</td>
            <td>{{ el.date }}</td>
            <td>{{ el.status_case }}</td>
            <td><a v-bind:href=" el.documents_case " download="">
            <button class="btn btn-outline-dark">Документи по справі</button>
            </a></td>
      </tr>    
        </tr> 
        </tbody>
  </table>
</div>
</h6>
{% endverbatim %}

<script src="static/js/app.js"></script>
{% endblock %}


