const response = {
    "ab": { "0":"1","1":"2","2":"3","3":"4","4":"5","5":"6","6":"7","7":"8" },
    "ac": { "0":"1","1":"2","2":"3","3":"4","4":"5","5":"6","6":"7","7":"8" },
    "ad": { "0":"1","1":"2","2":"3","3":"4","4":"5","5":"6","6":"7","7":"8" },
    "af": { "0":"1","1":"2","2":"3","3":"4","4":"5","5":"6","6":"7","7":"8" },
    "ar": { "0":"1","1":"2","2":"3","3":"4","4":"5","5":"6","6":"7","7":"8" },
    "ae": { "0":"1","1":"2","2":"3","3":"4","4":"5","5":"6","6":"7","7":"8" },
  };
  
  // преобразование столбцов в строки, и извлечение заголовков
  const tableData = { headers: Object.keys(response), rows: [] };
  for (const header of tableData.headers) {
    Object.values(response[header]).forEach((val, idx) => {
      (tableData.rows[idx] = (tableData.rows[idx] ?? [])).push(val);
    });
  }
  // рендеринг таблицы
  const tBody = document.createElement('table').createTBody();
  tBody.insertAdjacentHTML('beforeBegin', `<thead><tr>${
    tableData.headers.map(hdr => `<th>${hdr}</th>`).join('')
  }</tr></thead>`);
  for (const row of tableData.rows) {
    const tr = tBody.insertRow();
    row.forEach(val => tr.insertCell().textContent = val);
  }
  document.body.appendChild(tBody.parentElement);
  table  { border-collapse: collapse; }
  th, td { min-width: 3ch; padding: 0.25em 0.5em; border: 1px solid #ccc; }