{% extends 'myapp1/base.html' %}
{% block menu %}
{% endblock %}

{% block document %} 
    
{% endblock %}

{% block baza %} 
<script src="https://kit.fontawesome.com/281c808ed5.js" crossorigin="anonymous"></script>
<body>
    <h3 >
    <div class="block" > <font face="Monotype Corsiva, Arial"> Реєстр судових рішень   ------------> 
       
        <a href="https://reyestr.court.gov.ua/" class="link-dark"  name="1">  
            <i class="fa-regular fa-folder-open"></i>
        </a>   
    </div>  
    
    <div class="block2"> Оплата судового збору--------------->
        <a href="https://court.gov.ua/affairs/sudytax/" class="link-dark"  name="2"> 
            <i class="fa-solid fa-money-bill-1-wave"></i>
        </a> 
     </div>
    
    <div class="block3">Електронний суд ------------------->
        <a href= "https://id.court.gov.ua/" class="link-dark"  name="3"> 
            <i class="fa-solid fa-landmark"></i>
        </a> 
    </div>
    <div class="block2">Cтадія розгляду справи-------------->
        <a href= "https://court.gov.ua/fair/" class="link-dark"  name="4">  
            <i class="fa-solid fa-list"></i>
        </a> 
    </div>
    <div class="block3">Правила пошуку судових рішень->
        <a href="https://malynevskyi.com/reyestr-sudovyh-rishen/" class="link-dark"  name="5">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a> 
    </div>
    <div class="block2">Судові засідання онлайн------------>
        <a href="https://vkz.court.gov.ua/" class="link-dark"  name="6">  
            <i class="fa-solid fa-school-circle-check"></i>
        </a> 
    </div>

    <div class="block3">Кабінет адвоката ----------------->
        <a href="https://unba.org.ua/" class="link-dark"  name="7">  
            <i class="fa-solid fa-user-tie"></i>
        </a> 
    </div>

    <div class="block2">Цифровий підпис---------------------->
        <a href="https://sign.diia.gov.ua/" class="link-dark"  name="8">  
            <i class="fa-sharp fa-solid fa-pen"></i>
        </a> 
    </div>
    <div class="block3">Семінари для адвокатів---------->
        <a href="https://cpd.hsa.org.ua/signin" class="link-dark"  name="9">  
            <i class="fa-sharp fa-solid fa-people-line"></i>
        </a> 
    </div>

    <div class="block2">Законодавство України------------->
        <a href="https://zakon.rada.gov.ua/laws/main/index" class="link-dark"  name="10">  
            <i class="fa-sharp fa-solid fa-scale-unbalanced"></i>
        </a> 
    </div>

    <div class="block3">Реєстр виконавчих проваджень->
        <a href="https://asvpweb.minjust.gov.ua/#/search-debtors"  class="link-dark"  name="11">  
            <i class="fa-solid fa-layer-group"></i>
        </a> 
    </div>
    
    <div class="block2">Обтяження рухомого майна------->
        <a href="https://orm.minjust.gov.ua/#/" class="link-dark"  name="11">  
            <i class="fa-solid fa-file-circle-xmark"></i>
        </a> 
    </div>
    
    <div class="block3">Реєстр нерухомого майна-------->
        <a href="https://online.minjust.gov.ua/login"  class="link-dark"  name="11">  
            <i class="fa-solid fa-chart-bar"></i>
        </a> 
    </div>
    
    <div class="block2">Реєстр транспортних засобів----->
        <a href="https://igov.gov.ua/service/1397/general" class="link-dark"  name="11">  
            <i class="fa-solid fa-car-side"></i>
        </a> 
    </div>
    <div class="block3">Реєстр юридичних осіб (ЄДР)-->
        <a href="https://usr.minjust.gov.ua/content/free-search"  class="link-dark"  name="11">  
            <i class="fa-solid fa-users"></i>
        </a> 
    </div>
    
    <div class="block2">Перевірка нотаріальних бланків-->
        <a href="https://rnb.nais.gov.ua/" class="link-dark"  name="11">  
            <i class="fa-solid fa-file-signature"></i>
        </a> 
    </div>
    </font>
</h3>
</body>            

 
          {% endblock %}

 
      