{% extends 'myapp1/base.html' %}

{% block title %} 
 новий клієнт
{% endblock %}

{% block document %} 
 <h1>  Форма додавання</h1>
{% endblock %}
{% block baza%}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name_client }}<br>
        {{ form.contract_number }}<br>
        {{ form.date_contract }}<br>
        <label  class="form-label ">Тип справи</label>
        {{ form.type_case }}<br>
        {{ form.date }}<br>
        {{ form.status_case }}<br>
        {{ form.documents_case }}<br><br>
        <button type="submit" class="btn btn-success"> Зареєструвати</button><br><br>  
        <span>{{ error }}</span>    
    </form>

{% endblock %}
