{% extends 'myapp1/base.html' %}

{% block title %} 
 новий клієнт
{% endblock %}

{% block menu %}
{% endblock %}

{% block document %} 
 <h1> <font face="Monotype Corsiva, Arial"> Новий клієнт</h1></font>
{% endblock %}
{% block baza%}


<div class="new_client">
<div class="someDiv">
 <form method="post" enctype="multipart/form-data">
     <!-- <div class="form-group" id="new_client" v-model="form in Client"  >
     -->
        {% csrf_token %}
        {{ form.name_client }}<br >
        {{ form.contract_number }}<br>
        {{ form.date_contract }}<br>
        {{ form.type_case }}<br>
        {{ form.date }}<br>
        {{ form.status_case }}<br>
        {{ form.documents_case }}<br>
        <button type="submit" class="btn btn-success"> Зареєструвати</button><br>  
    </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal"></button>
                        <h4 class="modal-title">{{ error }}</h4>
                    </div>
                    <div class="modal-body">Текст уведомления</div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                    </div>
                    </div>
                </div></div>
            </div>
        </div>
    </form>



{% endblock %}
