{% extends 'myapp1/base.html' %}

{% load static %}


{% block menu %}
{% endblock %}

{% block document %} 
{% endblock %}

{% block baza %} 
<link rel="stylesheet" type="text/css" href= "{% static 'filecss/css/effect_buttons.css'%}"/>
<script src="https://kit.fontawesome.com/281c808ed5.js" crossorigin="anonymous"></script>
<body>
    <div class="buttons"> 
        <a class="link_button" href="https://zakon.rada.gov.ua/laws/main/index"> Законодавство України-
            <i class="fa-sharp fa-solid fa-scale-unbalanced"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://unba.org.ua/">Кабінет адвоката- 
            <i class="fa-solid fa-user-tie"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://reyestr.court.gov.ua/">Реєстр судових рішень-
            <i class="fa-regular fa-folder-open"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://id.court.gov.ua/">Електронний суд-
            <i class="fa-solid fa-landmark"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://cpd.hsa.org.ua/signin">Семінари для адвокатів-
            <i class="fa-sharp fa-solid fa-people-line"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://asvpweb.minjust.gov.ua/#/search-debtors">Реєстр виконавчих проваджень-
            <i class="fa-solid fa-layer-group"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://vkz.court.gov.ua/">Судові засідання онлайн-
            <i class="fa-solid fa-school-circle-check"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://rnb.nais.gov.ua/">Перевірка нотаріальних бланків-
            <i class="fa-solid fa-file-signature"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://online.minjust.gov.ua/login">Реєстр нерухомого майна-
            <i class="fa-solid fa-chart-bar"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://court.gov.ua/fair/">Cтадія розгляду справи-
            <i class="fa-solid fa-list"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://sign.diia.gov.ua/">Цифровий підпис-
            <i class="fa-sharp fa-solid fa-pen"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://usr.minjust.gov.ua/content/free-search">Реєстр юридичних осіб (ЄДР)-
            <i class="fa-solid fa-users"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>  
        <a class="link_button" href="https://court.gov.ua/affairs/sudytax/">Оплата судового збору-
            <i class="fa-solid fa-money-bill-1-wave"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://orm.minjust.gov.ua/#/">Обтяження рухомого майна-
            <i class="fa-solid fa-file-circle-xmark"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>
        <a class="link_button" href="https://igov.gov.ua/service/1397/general">Реєстр транспортних засобів-
            <i class="fa-solid fa-car-side"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </a>       
    </div>
</body> 
{% endblock %}