.user { 
    margin-left: 0px;}

.update { transform: scale(.7,  .7); }
.update:hover{transform: scale(1.5);}

.delete { transform: scale(.7,  .7); }
.delete:hover{transform: scale(1.5);}

.nav-item a {transform: scale(1,  1);}
.nav-item a:hover{transform: scale(1.2)}
/* */
.container{
    width: 1200px;
    margin: 0 auto;
    margin-right: 0px;
    margin-top: 7%;
    position: fixed; 
    top: 10%; 
    left: 35%;  
}
.avtorization{ 
    border: 3px solid black; 
    width: 470px; 
    min-height: 550px;
    max-height: 200px; 
    margin:0 auto;
    border-radius: 25px
 }

.new_client{
    width: 1200px;
    margin: 0 auto;
    margin-right: 0px;
    margin-top: 7%;
    position: fixed; 
    top: 10%; 
    left: 35%;
    
    width: 470px; 
    min-height: 550px;
    max-height: 200px; 
    margin:0 auto;
    margin-top: 5px;
    } 
   